absl-py,
asttokens,
astunparse,
backcall,
blinker,
cachetools,
certifi,
charset-normalizer,
click,
colorama,
contourpy,
cycler,
decorator,
dlib,
executing,
face-recognition,
face-recognition-models,
filelock,
Flask,
flatbuffers,
fonttools,
gast,
google-auth,
google-auth-oauthlib,
google-pasta,
grpcio,
h5py,
idna,
ipython,
itsdangerous,
jedi,
Jinja2,
keras,
kiwisolver,
libclang,
Markdown,
MarkupSafe,
matplotlib,
matplotlib-inline,
mpmath,
networkx,
numpy,
oauthlib,
opencv-contrib-python,
opencv-python,
opt-einsum,
packaging,
pandas,
parso,
pickleshare,
Pillow,
prompt-toolkit,
protobuf,
psutil,
pure-eval,
pyasn1,
pyasn1-modules,
Pygments,
pyparsing,
python-dateutil,
pytz,
PyYAML,
requests,
requests-oauthlib,
rsa,
scipy,
seaborn,
six,
stack-data,
sympy,
tensorboard,
tensorboard-data-server,
tensorboard-plugin-wit,
tensorflow,
tensorflow-estimator,
tensorflow-intel,
tensorflow-io-gcs-filesystem,
termcolor,
thop,
torch,
torchaudio,
torchvision,
tqdm,
traitlets,
typing_extensions,
tzdata,
urllib3,
wcwidth,
Werkzeug,
wrapt
