absl-py
aiohttp
aiosignal
analysis
anyio
asgiref
astunparse
async-timeout
asynctest
attrs
backcall
beautifulsoup4
bidict
blinker
Brotli
bs4
cached-property
cachetools
certifi
cffi
chardet
charset-normalizer
clang
click
#conda
contextlib2
contextvars
cryptography
cycler
dataclasses
decorator
defisheye
distlib
distro
Django
dlib
face-recognition
face-recognition-models
fake-headers
fastapi
ffmpeg
filelock
Flask
flatbuffers
frozenlist
gast
gcloud
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h11
h2
h5py
hpack
html5lib
httplib2
hyperframe
idna
idna-ssl
immutables
importlib-metadata
importlib-resources
imutils
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
joblib
kaitaistruct
keras
keras-facenet
Keras-Preprocessing
kiwisolver
lru-cache
Markdown
MarkupSafe
matplotlib
mediapipe
mtcnn
multidict
numpy
oauth2client
oauthlib
openai
opencv-contrib-python
opencv-python
opt-einsum
packaging
pandas
parso
pexpect
pickleshare
Pillow
platformdirs
progress
prompt-toolkit
protobuf
psutil
ptyprocess
pyasn1
pyasn1-modules
pycosat
pycparser
pycrypto
pydantic
Pygments
pyOpenSSL
pyparsing
PySocks
python-dateutil
python-engineio
python-socketio
pytz
PyYAML
requests
requests-oauthlib
rsa
ruamel.yaml
scikit-build
scikit-learn
scipy
seaborn
selenium
selenium-wire
six
sniffio
soupsieve
sqlparse
starlette
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
thop
threadpoolctl
torch
torchvision
tqdm
traitlets
typing-extensions
urllib3
uvicorn
virtualenv
waitress
wcwidth
webencodings
WebOb
WebTest
Werkzeug
wget
wrapt
wsproto
yarl
zipp
zstandard
